<footer class='mb-8'>
    <h2 class='heading'>Kako do nas</h2>
    <div class='grid gap-8 mb-8 md:grid-cols-2'>
        <p class='text-sm text-color'>
            Imate pitanja, želite zakazati termin ili jednostavno želite saznati
            više o našim uslugama? Kontaktirajte nas s poverenjem! Naš
            prijateljski tim je tu da vam pruži sve potrebne informacije i
            pomogne vam stvoriti personalizirano iskustvo lepote.
        </p>
    </div>
    <section class='grid gap-4 md:grid-cols-2 lg:grid-cols-2 mb-32'>
        <div
            class='flex justify-start cursor-pointer flex-col [&>*]:pointer-events-none opacity-80 hover:opacity-100'
        >
            <h3 class='text-lg font-extralight subheading md:text-xl'>
                Kontakt Telefon
            </h3>
            <p class='text-sm text-color'>
                Tamara: +381 65 454 82 21 <br />
                 Teodora: +381 62 892 36 11 <br />
            </p>
        </div>
        <div
            class='flex justify-start cursor-pointer flex-col [&>*]:pointer-events-none opacity-80 hover:opacity-100'
        >
            <h3 class='text-lg font-extralight subheading md:text-xl'>
                Lokacija
            </h3>
            <p class='text-sm text-color'>
                Svetog Save 34/2<br />
                 22.240 Sid<br />
                 Srbija
            </p>
        </div>
    </section>
    <p class='text-xs text-center'>© 2023 BeautyHub Studio</p>
</footer>
