<footer class='mb-8'>
    <h2 class='heading'>Kako do nas</h2>
    <div class='grid gap-8 mb-8 md:grid-cols-2'>
        <p class='text-sm text-color'>
            Imate pitanja, želite zakazati termin ili jednostavno želite saznati
            više o našim uslugama?
            <br />
            <br />Kontaktirajte nas, naš tim je tu da vam pruži sve potrebne
            informacije i pomogne vam stvoriti personalizovano iskustvo
            negovanja lepote.
        </p>
    </div>
    <section class='grid gap-4 md:grid-cols-2 lg:grid-cols-2 mb-32'>
        <div
            class='flex justify-start cursor-pointer flex-col [&>*]:pointer-events-none opacity-80 hover:opacity-100'
        >
            <h3 class='text-lg font-extralight subheading md:text-xl'>
                Kontakt
            </h3>
            <p class='text-sm text-color'>Tamara: +381 65 454 82 21</p>
            <p class='text-sm text-color'>Teodora: +381 62 892 36 11</p>
            <p class='text-sm text-color'>Instagram: @beautyhub_ns_sid</p>
        </div>
        <div
            class='flex justify-start cursor-pointer flex-col [&>*]:pointer-events-none opacity-80 hover:opacity-100'
        >
            <h3 class='text-lg font-extralight subheading md:text-xl'>
                Lokacija
            </h3>
            <p class='text-sm text-color'>
                Svetog Save 34/2
                <br />22.240 Sid
                <br />Srbija
            </p>
        </div>
    </section>
    <p class='text-xs text-center text-text'>© 2023 BeautyHub Studio</p>
</footer>
