<footer>
    <h2 class='text-title mb-4'>Kako do nas?</h2>
    <div class='grid gap-8 mb-8 md:grid-cols-2'>
        <p class='text-sm opacity-50'>
            Imate pitanja, želite zakazati termin ili jednostavno želite saznati
            više o našim uslugama? Kontaktirajte nas s poverenjem! Naš
            prijateljski tim je tu da vam pruži sve potrebne informacije i
            pomogne vam stvoriti personalizirano iskustvo lepote.
        </p>
    </div>
</footer>
