---
import TeamCard from '../utils/TeamCard.astro'
---

<section class='mb-section'>
    <header class='mb-8 grid gap-4 md:grid-cols-2 md:gap-8'>
        <h2 class='heading'>Upoznajte Naš Tim</h2>
        <p class='text-sm opacity-50 md:text-base text-color'>
            meet the best expert talents from our team who are ready to be your
            partners
        </p>
    </header>
    <section
        class='h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-2'
    >
        <TeamCard
            name='Tamara Kolenkas'
            profession='Nail Artist'
            alt='some people'
            src='images/team/man_02.jpg'
        />
        <TeamCard
            name='Teodora Basic'
            profession='Nail Artist'
            alt='some people'
            src='images/team/man_03.jpg'
        />
    </section>
</section>
